*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    position: relative;
    min-height: 100vh;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(13, 8, 20);
    overflow: hidden;
   
}

.container
{
    position: absolute;
    width:130%;
    bottom: 60px;
    height: 160px;
    background: #525252;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(30deg);
}
.container::before
{
    content:"";
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%) ;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg,#fff 0%,#fff 70%,#525252 70%,#525252 100%);
    background-size: 120px;
    animation: animatedR linear 0.4s infinite;
    -webkit-animation: animatedR linear 0.4s infinite;
}
@keyframes  animatedR
{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -120px;
    }
}
.container::after
{
    content:"";
    position: absolute;
    width: 100%;
    height: 30px;
    background:#333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-25deg);
}
.shadow{
    position: absolute;
    bottom: -89px;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 60px;
    background:linear-gradient(#000,transparent);
    filter: blur(5px);
}
.girl{
    position: absolute;
    height: 256px;
    width: calc(1536px/6);
    background:url(../image/spritestrip-1536.png);
    margin-left: 20%;
    transform: perspective(500px) rotateX(-25deg) translateY(-160px) ;
    -webkit-box-reflect: below 1px linear-gradient(transparent 85%,#0004);
    animation: animationG 1s steps(6) infinite;
    -webkit-animation:animationG 1s steps(6) infinite ;

}
@keyframes animationG
{
    from{
        background-position-x: 0px;
    }
    to{
        background-position-x: -1536px;
    }
}
.grass
{
    width: 130%;
    position: absolute;
    z-index: 1000;
    bottom: -120px;
    transform: translateY(300px);
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
   
}
.grass2
{
    width: 130%;
    position: absolute;
    z-index:-1;
    bottom: 90px;
    transform: translateY(300px);
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
    
}
.night
{
    position: absolute;
    z-index: -2;
    width: 100%;
}
.moon
{   
    width: 400px;
    height: 400px;
    background:url(../image/monn.png);
    background-size: cover;
    position: absolute;
    right: 0;
    top:100px;
    mix-blend-mode: overlay;
    opacity: .9;
}

.night .city
{
    width: 130%;
    background: url(../image/city.png);
    height: 1000px;
    margin-top: 100px;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);

}
.star
{
    position: absolute;
    z-index: -10;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../image/stars.png);
    animation: scaleE 1s infinite;
    -webkit-animation:  scaleE 1s infinite;
}

@keyframes scaleE {
    0%{
        transform: scale(1); 
       
    }
    100%
    {
        transform: scale(1.5); 
       
    }
}